.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 25px;
}